@import "tailwindcss";
@import "tw-animate-css";
@plugin "./typography.ts";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-mono: JetBrains Mono, ui-monospace, monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-serif: Merriweather, ui-serif, serif;
  --radius: 0.25rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.25rem;
  --background: oklch(0.9725 0.0045 258.3246);
  --foreground: oklch(0.3218 0.0248 255.7016);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.3218 0.0248 255.7016);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.3218 0.0248 255.7016);
  --primary: oklch(0.4066 0.0878 255.9691);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.6836 0.1603 58.6296);
  --secondary-foreground: oklch(0.3218 0.0248 255.7016);
  --muted: oklch(0.9510 0.0063 255.4756);
  --muted-foreground: oklch(0.5612 0.0241 252.6253);
  --accent: oklch(0.7838 0.1630 77.8824);
  --accent-foreground: oklch(0.3218 0.0248 255.7016);
  --destructive: oklch(0.6522 0.1773 24.9057);
  --border: oklch(0.8921 0.0087 247.9239);
  --input: oklch(0.9567 0.0052 247.8779);
  --ring: oklch(0.4873 0.1040 259.8157);
  --chart-1: oklch(0.4066 0.0878 255.9691);
  --chart-2: oklch(0.6836 0.1603 58.6296);
  --chart-3: oklch(0.7838 0.1630 77.8824);
  --chart-4: oklch(0.7323 0.0250 250.1511);
  --chart-5: oklch(0.8702 0.0106 247.9479);
  --sidebar: oklch(0.9510 0.0063 255.4756);
  --sidebar-foreground: oklch(0.3218 0.0248 255.7016);
  --sidebar-primary: oklch(0.4066 0.0878 255.9691);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.7838 0.1630 77.8824);
  --sidebar-accent-foreground: oklch(0.3218 0.0248 255.7016);
  --sidebar-border: oklch(0.8921 0.0087 247.9239);
  --sidebar-ring: oklch(0.4873 0.1040 259.8157);
  --destructive-foreground: oklch(1.0000 0 0);
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Merriweather, ui-serif, serif;
  --font-mono: JetBrains Mono, ui-monospace, monospace;
  --shadow-color: #002d62;
  --shadow-opacity: 0.1;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 4px 10px 0px hsl(212.4490 100.0000% 19.2157% / 0.05);
  --shadow-xs: 0px 4px 10px 0px hsl(212.4490 100.0000% 19.2157% / 0.05);
  --shadow-sm: 0px 4px 10px 0px hsl(212.4490 100.0000% 19.2157% / 0.10), 0px 1px 2px -1px hsl(212.4490 100.0000% 19.2157% / 0.10);
  --shadow: 0px 4px 10px 0px hsl(212.4490 100.0000% 19.2157% / 0.10), 0px 1px 2px -1px hsl(212.4490 100.0000% 19.2157% / 0.10);
  --shadow-md: 0px 4px 10px 0px hsl(212.4490 100.0000% 19.2157% / 0.10), 0px 2px 4px -1px hsl(212.4490 100.0000% 19.2157% / 0.10);
  --shadow-lg: 0px 4px 10px 0px hsl(212.4490 100.0000% 19.2157% / 0.10), 0px 4px 6px -1px hsl(212.4490 100.0000% 19.2157% / 0.10);
  --shadow-xl: 0px 4px 10px 0px hsl(212.4490 100.0000% 19.2157% / 0.10), 0px 8px 10px -1px hsl(212.4490 100.0000% 19.2157% / 0.10);
  --shadow-2xl: 0px 4px 10px 0px hsl(212.4490 100.0000% 19.2157% / 0.25);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.2050 0.0200 248.8302);
  --foreground: oklch(0.9067 0 0);
  --card: oklch(0.2827 0.0373 258.3015);
  --card-foreground: oklch(0.9067 0 0);
  --popover: oklch(0.2827 0.0373 258.3015);
  --popover-foreground: oklch(0.9067 0 0);
  --primary: oklch(0.3796 0.1336 256.7753);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.6514 0.1612 54.5100);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.3452 0.0372 248.9523);
  --muted-foreground: oklch(0.7443 0.0256 248.1716);
  --accent: oklch(0.7838 0.1630 77.8824);
  --accent-foreground: oklch(0.2827 0.0373 258.3015);
  --destructive: oklch(0.5771 0.2152 27.3250);
  --border: oklch(0.4051 0.0347 256.5815);
  --input: oklch(0.3452 0.0372 248.9523);
  --ring: oklch(0.4739 0.1744 257.8652);
  --chart-1: oklch(0.3796 0.1336 256.7753);
  --chart-2: oklch(0.6514 0.1612 54.5100);
  --chart-3: oklch(0.7838 0.1630 77.8824);
  --chart-4: oklch(0.7488 0.0406 250.7522);
  --chart-5: oklch(0.8773 0.0165 245.1083);
  --sidebar: oklch(0.2827 0.0373 258.3015);
  --sidebar-foreground: oklch(0.9067 0 0);
  --sidebar-primary: oklch(0.3796 0.1336 256.7753);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.7838 0.1630 77.8824);
  --sidebar-accent-foreground: oklch(0.2827 0.0373 258.3015);
  --sidebar-border: oklch(0.4051 0.0347 256.5815);
  --sidebar-ring: oklch(0.4739 0.1744 257.8652);
  --destructive-foreground: oklch(1.0000 0 0);
  --radius: 0.25rem;
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Merriweather, ui-serif, serif;
  --font-mono: JetBrains Mono, ui-monospace, monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.2;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.10);
  --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.10);
  --shadow-sm: 0px 4px 10px 0px hsl(0 0% 0% / 0.20), 0px 1px 2px -1px hsl(0 0% 0% / 0.20);
  --shadow: 0px 4px 10px 0px hsl(0 0% 0% / 0.20), 0px 1px 2px -1px hsl(0 0% 0% / 0.20);
  --shadow-md: 0px 4px 10px 0px hsl(0 0% 0% / 0.20), 0px 2px 4px -1px hsl(0 0% 0% / 0.20);
  --shadow-lg: 0px 4px 10px 0px hsl(0 0% 0% / 0.20), 0px 4px 6px -1px hsl(0 0% 0% / 0.20);
  --shadow-xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.20), 0px 8px 10px -1px hsl(0 0% 0% / 0.20);
  --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.50);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}