@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Open Sans', sans-serif;
  --font-mono: 'Fira Code', monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-serif: 'Lora', serif;
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.5rem;
  --background: oklch(0.9709 0.0135 145.4704);
  --foreground: oklch(0.3540 0.0485 141.4342);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.3540 0.0485 141.4342);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.3540 0.0485 141.4342);
  --primary: oklch(0.6731 0.1624 144.2083);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9571 0.0210 147.6360);
  --secondary-foreground: oklch(0.3540 0.0485 141.4342);
  --muted: oklch(0.9698 0.0211 127.3807);
  --muted-foreground: oklch(0.5173 0.0378 142.3270);
  --accent: oklch(0.9238 0.0522 127.5426);
  --accent-foreground: oklch(0.3540 0.0485 141.4342);
  --destructive: oklch(0.6539 0.1926 25.1437);
  --border: oklch(0.9067 0 0);
  --input: oklch(0.9571 0.0210 147.6360);
  --ring: oklch(0.7536 0.1626 130.5022);
  --chart-1: oklch(0.7660 0.1179 145.2950);
  --chart-2: oklch(0.8292 0.0827 145.8169);
  --chart-3: oklch(0.8743 0.0850 128.3785);
  --chart-4: oklch(0.8963 0.1390 113.7627);
  --chart-5: oklch(0.9454 0.1444 102.8424);
  --sidebar: oklch(0.9571 0.0210 147.6360);
  --sidebar-foreground: oklch(0.3540 0.0485 141.4342);
  --sidebar-primary: oklch(0.6731 0.1624 144.2083);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9238 0.0522 127.5426);
  --sidebar-accent-foreground: oklch(0.3540 0.0485 141.4342);
  --sidebar-border: oklch(0.8576 0 0);
  --sidebar-ring: oklch(0.7536 0.1626 130.5022);
  --destructive-foreground: oklch(1.0000 0 0);
  --font-sans: 'Open Sans', sans-serif;
  --font-serif: 'Lora', serif;
  --font-mono: 'Fira Code', monospace;
  --shadow-color: #7b8e7a;
  --shadow-opacity: 0.1;
  --shadow-blur: 8px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 3px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 3px 8px 0px hsl(117.0000 8.1301% 51.7647% / 0.05);
  --shadow-xs: 0px 3px 8px 0px hsl(117.0000 8.1301% 51.7647% / 0.05);
  --shadow-sm: 0px 3px 8px 0px hsl(117.0000 8.1301% 51.7647% / 0.10), 0px 1px 2px -1px hsl(117.0000 8.1301% 51.7647% / 0.10);
  --shadow: 0px 3px 8px 0px hsl(117.0000 8.1301% 51.7647% / 0.10), 0px 1px 2px -1px hsl(117.0000 8.1301% 51.7647% / 0.10);
  --shadow-md: 0px 3px 8px 0px hsl(117.0000 8.1301% 51.7647% / 0.10), 0px 2px 4px -1px hsl(117.0000 8.1301% 51.7647% / 0.10);
  --shadow-lg: 0px 3px 8px 0px hsl(117.0000 8.1301% 51.7647% / 0.10), 0px 4px 6px -1px hsl(117.0000 8.1301% 51.7647% / 0.10);
  --shadow-xl: 0px 3px 8px 0px hsl(117.0000 8.1301% 51.7647% / 0.10), 0px 8px 10px -1px hsl(117.0000 8.1301% 51.7647% / 0.10);
  --shadow-2xl: 0px 3px 8px 0px hsl(117.0000 8.1301% 51.7647% / 0.25);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.2653 0.0364 144.4652);
  --foreground: oklch(0.9476 0.0190 192.8095);
  --card: oklch(0.3391 0.0394 142.0126);
  --card-foreground: oklch(0.9476 0.0190 192.8095);
  --popover: oklch(0.3391 0.0394 142.0126);
  --popover-foreground: oklch(0.9476 0.0190 192.8095);
  --primary: oklch(0.7185 0.1417 144.8887);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.2761 0.0229 144.9235);
  --secondary-foreground: oklch(0.9476 0.0190 192.8095);
  --muted: oklch(0.3672 0.0353 143.3192);
  --muted-foreground: oklch(0.7284 0 0);
  --accent: oklch(0.4701 0.0471 143.7354);
  --accent-foreground: oklch(0.9476 0.0190 192.8095);
  --destructive: oklch(0.6875 0.1420 21.4566);
  --border: oklch(0.4273 0.0402 143.5615);
  --input: oklch(0.3672 0.0353 143.3192);
  --ring: oklch(0.7660 0.1179 145.2950);
  --chart-1: oklch(0.7931 0.1145 207.3076);
  --chart-2: oklch(0.7482 0.1235 244.7492);
  --chart-3: oklch(0.8253 0.1181 129.0007);
  --chart-4: oklch(0.8859 0.1539 91.2298);
  --chart-5: oklch(0.8287 0.1452 73.5424);
  --sidebar: oklch(0.2761 0.0229 144.9235);
  --sidebar-foreground: oklch(0.9476 0.0190 192.8095);
  --sidebar-primary: oklch(0.7185 0.1417 144.8887);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.4701 0.0471 143.7354);
  --sidebar-accent-foreground: oklch(0.9476 0.0190 192.8095);
  --sidebar-border: oklch(0.3905 0.0266 142.9886);
  --sidebar-ring: oklch(0.7660 0.1179 145.2950);
  --destructive-foreground: oklch(1.0000 0 0);
  --radius: 0.5rem;
  --font-sans: 'Open Sans', sans-serif;
  --font-serif: 'Lora', serif;
  --font-mono: 'Fira Code', monospace;
  --shadow-color: #0e170e;
  --shadow-opacity: 0.2;
  --shadow-blur: 8px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 3px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 3px 8px 0px hsl(120 24.3243% 7.2549% / 0.10);
  --shadow-xs: 0px 3px 8px 0px hsl(120 24.3243% 7.2549% / 0.10);
  --shadow-sm: 0px 3px 8px 0px hsl(120 24.3243% 7.2549% / 0.20), 0px 1px 2px -1px hsl(120 24.3243% 7.2549% / 0.20);
  --shadow: 0px 3px 8px 0px hsl(120 24.3243% 7.2549% / 0.20), 0px 1px 2px -1px hsl(120 24.3243% 7.2549% / 0.20);
  --shadow-md: 0px 3px 8px 0px hsl(120 24.3243% 7.2549% / 0.20), 0px 2px 4px -1px hsl(120 24.3243% 7.2549% / 0.20);
  --shadow-lg: 0px 3px 8px 0px hsl(120 24.3243% 7.2549% / 0.20), 0px 4px 6px -1px hsl(120 24.3243% 7.2549% / 0.20);
  --shadow-xl: 0px 3px 8px 0px hsl(120 24.3243% 7.2549% / 0.20), 0px 8px 10px -1px hsl(120 24.3243% 7.2549% / 0.20);
  --shadow-2xl: 0px 3px 8px 0px hsl(120 24.3243% 7.2549% / 0.50);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}